.logo {
  display: flex;
}

.logo-title {
  letter-spacing: 0.1rem;
  font-size: 40px;
}


.logo-title span {
  font-family: 'Monoton', cursive;
  background-image: linear-gradient(0deg, var(--dark-blue) 5%, var(--white));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-title a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-title .i {
  color: rgba(255, 255, 255, 0.719);
}

.info-logo {
  position: relative;
  animation: moveNameTop 1.5s forwards;
}

@keyframes moveNameTop {
  from {
    right: 35px;
  }

  to {
    right: 0px;
  }
}

.link-name-films {
  position: relative;
  left: 50px;
  animation: moveBottomName 1.5s forwards;
  bottom: 20px;
}

@keyframes moveBottomName {
  from {
    left: 50px;
  }

  to {
    left: 0px;
  }
}
