.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--white);
}

.logo img {
  position: relative;
  width: 62px;
  height: 62px;
  animation: animateLogo 1s forwards;
}
.logo span {
  position: relative;
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 2.25rem;
  font-weight: 200;
  letter-spacing: 2px;
  animation: animateLogo 1s forwards;
}

@keyframes animateLogo {
  from {
    opacity: 0;
    top: 20px;
  }

  to {
    opacity: 1;
    top: 0px;
  }
}
