.logo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo img {
  position: relative;
  bottom: 10px;
  width: 150px;
  animation: moveNameTop 2.5s forwards;
}

.logo-title {
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Gothic Coding', monospace;
  color: var(--white);
  font-size: 30px;
  letter-spacing: 4px;
  animation: moveNameTop 2.5s forwards;
}

.logo-title h2 {
  position: relative;
  background-image: linear-gradient(45deg, var(--white), var(--primary-color));
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.logo-info {
  font-weight: 400;
}

.logo-films {
  font-weight: 700;
  bottom: 10px;
}

@keyframes moveNameTop {
  from {
    opacity: 0;
    right: 100px;
  }

  to {
    opacity: 1;
    right: 0px;
  }
}

