.card-cast-crew {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}

.wrapper-cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}


.wrapper-cards::-webkit-scrollbar {
  width: 20px;
  height: 12px;
}

.wrapper-cards::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

.wrapper-cards::-webkit-scrollbar-thumb:hover {
  background: #09268f;
}

.card {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 0.5rem;
  color: var(--white);
  transition: all 300ms ease-in-out;
}

.card:hover {
  color: var(--primary-color);
}

.card img {
  border-radius: 8px;
  border: 2px solid var(--white);
  transition: all 300ms ease-in-out;
}

.card img:hover {
  border: 2px solid var(--primary-color);
}
