.list-genres {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: 0.5rem;
  overflow-y: scroll;
  background-color: var(--dark-blue);
  border-radius: 8px;
  z-index: 5;
  scrollbar-color: var(--primary-color) rgb(194, 192, 192);
  scrollbar-width: thin;
}

.btn-categories {
  padding: 4px;
  color: var(--white);
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: transparent;
}

.btn-categories svg {
  width: 20px;
  height: 20px;
}

.list-genres:hover {
  scrollbar-color: var(--dark-blue) rgb(194, 192, 192);
}

.list-genres ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
}

.list-genres ul li {
  width: 100%;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
}

.list-genres ul li:hover {
  background-color: var(--primary-color);
}

.list-genres::-webkit-scrollbar {
  background-color: rgb(194, 192, 192);
  border-radius: 0 5px 5px 0;
}

.component-list {
  margin: 0.6rem 0;
}

.close-list {
  position: absolute;
  background: transparent;
  position: fixed;
  z-index: 4;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}
