.btn-categories {
  padding: 4px;
  color: var(--white);
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: transparent;
}

.btn-categories svg {
  width: 20px;
  height: 20px;
}

.list-genres {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: 0.5rem;
  overflow-y: scroll;
  background: var(--deep-black);
  border: 1px solid var(--midnight-blue);
  border-radius: 4px;
  z-index: 5;
  scrollbar-color: var(--dusty-lavender);
  scrollbar-width: thin;
}

.list-genres ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
}

.list-genres ul li {
  width: 100%;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
}

.list-genres ul li:hover {
  background-color: var(--dusty-lavender);
}

.list-genres::-webkit-scrollbar {
  border-radius: 0 5px 5px 0;
}

.component-list {
  margin: 0.6rem 0;
}

.close-list {
  position: absolute;
  background: transparent;
  position: fixed;
  z-index: 4;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}
