.loader {
  margin: 14rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  border: 0.5rem solid rgba(10, 52, 204, 0.25);
  border-radius: 50%;
  border-top: 0.5rem solid var(--primary-color);
  width: 6rem;
  height: 6rem;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
