:root {
  --primary-color: #193186;
  --dark-blue: #061f79;
  --background: #09080A;
  --deep-black: #18171D;
  --midnight-blue: #343545;
  --dusty-lavender: #5e5a72;
  --white: #eeeeee;
  --steel-gray: #4d4f57;
  --light-steel-gray: #989cac;
  --grey: #555555;
  --border-default: 1px solid;
  --error-color: crimson;
}
