.movie-card {
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
}

.movie-card:hover {
    transition: ease-in-out all 300ms;
    transform: scale(1.05);
}

.movie-card img {
    max-width: 100%;
}

.movie-card .img-movie,
.movie-card .title-movie,
.movie-card .container-star {
    margin-bottom: 1rem;
}

.movie-card .star {
    color: #f7d354;
}

.movie-card a {
    background-color: #0b36cd;
    border: 2px solid #0b36cd;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: 1rem 0.5rem;
    align-items: center;
    transition: 0.4s;
}

.movie-card a:hover {
    background-color: transparent;
    color: #0b36cd;
    box-shadow: 0 0 1em #0b36cd;
}