.movies-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #0b36cd transparent;
}

.movies-container::-webkit-scrollbar {
  width: 20px;
  height: 12px;
}

.movies-container::-webkit-scrollbar-thumb {
  background: #0b36cd;
  border-radius: 10px;
}

.movies-container::-webkit-scrollbar-thumb:hover {
  background: #09268f;
}

.movies-container .error-search {
  font-size: xx-large;
  margin: 5rem auto;
}

.movies-container .error-search span {
  color: #0b36cd;
}

.container-pagination {
  display: flex;
  justify-content: center;
}

.pagination button,
.pagination li div {
  color: #ffffff;
  background: #0b36cd;
}

.pagination button:hover {
  background-color: #09268f;
}

.pagination button:focus {
  border: 1px solid rgba(25, 118, 210, 0.5);
}

@media (max-width: 768px) {
  .movies-container::-webkit-scrollbar {
    display: none;
  }
}

