.container .title {
  color: var(--white);
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 2rem 1rem;
}

.movies-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
  transition: all 300ms ease-in-out;
}

.movies-container::-webkit-scrollbar {
  width: 20px;
  height: 12px;
}

.movies-container::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

.movies-container::-webkit-scrollbar-thumb:hover {
  background: #09268f;
}

.movies-container .error-search {
  font-size: xx-large;
  margin: 5rem auto;
}

.movies-container .error-search span {
  color: var(--primary-color);
}

.movies-container:hover :not(:hover) {
  filter: brightness(90%);
}

.movies-container .movie-card:hover {
  transform: scale(1.02);
}

.container-pagination {
  display: flex;
  justify-content: center;
}

.pagination button,
.pagination li div {
  color: var(--white);
  background: var(--primary-color);
}

.pagination button:hover {
  background-color: #09268f;
}

.pagination button:focus {
  border: 1px solid rgba(25, 118, 210, 0.5);
}

.movie-not-found {
  margin: 10rem auto;
  font-size: 2rem;
}

.movie-not-found p {
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .movies-container::-webkit-scrollbar {
    display: none;
  }

  .container .title {
    font-size: 2.0rem;
  }
}
