.movie-card {
  color: #fff;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: all 200ms ease-in-out;
}

.movie-card:hover {
  transform: scale(1.02);
}

.movie-card .img-movie {
  height: 400px;
}

.movie-card .star {
  color: #f7d354;
}

.movie-card .title-movie {
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-card img:hover {
  filter: brightness(70%);
  transition: all 300ms ease-in-out;
}

.movie-card a {
  color: #fff;
  transition: ease-in-out all 100ms;
}

.movie-card a:hover {
    color: #0b36cd;
}
