.movie-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border-radius: 6px;
  color: var(--white);
  transition: all 200ms ease-in-out;
}

.movie-card .img-movie {
  height: 400px;
  border-radius: 6px 6px 0 0;
}

.movie-card .star {
  color: #f7d354;
}

.movie-card .title-movie {
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 6px;
  border-radius: 0 0 6px 6px;
  background: var(--deep-black);
}

.container-star {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
}
