.movie-card {
  color: var(--white);
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: all 200ms ease-in-out;
}

.movie-card .img-movie {
  height: 400px;
}

.movie-card .star {
  color: #f7d354;
}

.movie-card .title-movie {
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-card a {
  color: var(--white);
  transition: ease-in-out all 100ms;
}

.movie-card a:hover {
  color: var(--primary-color);
}

.container-star {
  display: flex;
  gap: 10px;
  align-items: center;
}
