.container-modal button {
  display: flex;
  gap: 8px;
  padding: 8px;
  font-size: 1rem;
  font-weight: 600;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--white);
  background: rgba(100, 100, 100, 0.33);
}

.container-modal button svg {
  font-size: 1.5rem;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.box iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  border: none;
}
