#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #121212;
}

#navbar h2 a {
    display: flex;
    align-items: center;
    font-size: 40px;
    gap: 0.5rem;
}

#navbar h2 a svg {
    font-size: 45px;
}

#navbar form {
    display: flex;
    gap: 0.5rem;
}

#navbar input::placeholder {
  color: darkgrey;
  font-weight: 700;
}

#navbar input {
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    border: none;
}

#navbar form button {
    background-color: #0b36cd;
    border: 2px solid #0b36cd;
    border-radius: 4px;
    color: #fff;
    padding: 0.3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

#navbar form button:hover {
    background-color: transparent;
    color: #0b36cd;
}

#navbar .box-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
