@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-image: url('/bg-navbar.svg');
    background-color: #121212;
    width: 100%;
}

#navbar form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0 0.5rem;
}

#navbar input::placeholder {
  color: rgba(169, 169, 169, 0.473);
  font-weight: 700;
}

#navbar input {
    padding: 0.1rem 0.8rem;
    border-radius: 30px;
    border: 2px solid #082032;
    width: 16rem;
    font-size: 0.9rem;
    color: #fff;
    background-color: #082032;
}

#navbar input:hover {
  border: 2px solid #2C394B;
}

#navbar input:focus{
  background-color: #2C394B;
}

#navbar form button, .box-search button {
    background-color: #0b36cd;
    border: 2px solid #0b36cd;
    border-radius: 4px;
    color: #fff;
    padding: 0.3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

#navbar form button:hover, .box-search button:hover {
    background-color: transparent;
    color: #0b36cd;
}

#navbar .box-search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 1rem;
}

@media (max-width: 768px) {
  #navbar {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 410px) {
  #navbar .box-search .component-list {
    margin: 0.8rem 0;
  }

  #navbar form {
    justify-content: center;
  }

  #navbar form input {
    height: 2.5rem;
  }
}
