.movie-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-movie {
  width: 100%;
}

.info-movie {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.background-info {
  background: linear-gradient(to bottom, rgba(0,0,0,0.3029586834733894) 50%, rgba(9,8,10,1) 100%);
}

.infos {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infos h2 {
  font-size: 3rem;
  font-weight: bold;
}

.infos h3 {
  font-size: 1.25rem;
}

.infos div p, span {
  font-weight: 100;
  font-size: 1rem;
}

.infos div :first-child{
  margin-bottom: 6px;
}

.info-movie .movie-card {
  width: 100%;
  max-width: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-movie .movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.info-movie .movie-card span {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.container-info svg {
  font-size: 1.2rem;
}

.container-average, .container-runtime {
  display: flex;
  font-size: 1rem;
  font-weight: 100;
  gap: 6px;
}

.container-genres {
  display: flex;
  flex-direction: column;
}

.genres {
  display: flex;
  padding-inline-start: 0;
  list-style: none;
  font-size: 1rem;
  font-weight: 100;
}

.genre ~ .genre::before {
  content: ', ';
}

.background-movie {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.container-cast {
  width: 100%;
  max-width: 1400px;
  margin: 60px 0;
  padding: 0 20px;
}

@media (max-width: 1159px) {
  .info-movie {
    justify-content: center;
  }

  .infos {
    max-width: unset;
  }
}
