.GoTop {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  cursor: pointer;
  bottom: 40px;
  right: 80px;
  border: 1px solid var(--white);
  border-radius: 50%;
  background-color: #0b35cd60;
  height: 40px;
  width: 40px;
}

.GoTop:hover {
  background-color: var(--primary-color);
  transition: all 300ms ease-in-out;
}

.GoTop svg {
  font-size: xx-large;
  color: var(--white);
  padding-top: 8px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .GoTop {
    right: 30px;
  }
}
