.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: var(--border-default) var(--midnight-blue);
  padding: 15px 10px;
}

.footer div {
  display: flex;
  flex-direction: row;
  gap: 82px;
  padding: 10px;
}

.footer a {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--light-steel-gray);
}

.footer a:hover {
  color: var(--steel-gray);
}

.footer p {
  opacity: 0;
  position: absolute;
  color: var(--steel-gray);
  font-weight: bold;
  transition: all 300ms ease-in-out;
}

.footer a:hover p {
  opacity: 1;
  transform: translateX(40px);
}

.footer svg {
  width: 32px;
  height: 32px;
}
