.container-error {
  padding: 60px;
}

.page-error {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}

.page-error h1 {
  color: var(--primary-color);
  font-family: 'Fredericka the Great', cursive;
  font-size: 3rem;
  letter-spacing: 5px;
}

.page-error p {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 20px 0;
}

.page-error span {
  font-size: 1.6rem;
  font-weight: bold;
}

.page-error img {
  max-width: 200px;
  margin: 20px 0;
}
