@import '../src/styles/theme.css';
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@100;200;300;400;500;600;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: var(--light-steel-gray);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--steel-gray);
}

@supports(scrollbar-color: var(--light-steel-gray) transparent) {
  * {
    scrollbar-color: var(--light-steel-gray) transparent;
    scrollbar-width: thin;
  }
}

a {
  text-decoration: none;
  transition: .5s;
}

